{% extends 'base.html' %}

{% block head %}
    <title>Add Grain Spawn</title>
{% endblock %}

{% block body %}
    <div class="container">
        <h1>Add a new Grain Spawn</h1>

        <form method="POST" action="{{ url_for('add_grain_spawn',  liquid_culture_id=liquid_culture_id) }}">
            <div class="form-group">
                <label for="contaminatie">Is there any contamination?</label>
                <select name="contaminatie" id="contaminatie">
                    <option value="nee" selected>Nee</option>
                    <option value="ja">Ja</option>
                </select>
            </div>

            <div class="form-group">
                <label for="geschud">Has the bag been shaken at 20%?</label>
                <select name="geschud" id="geschud">
                    <option value="nee" selected>Nee</option>
                    <option value="ja">Ja</option>
                </select>
            </div>

            <input type="hidden" value="{{ liquid_culture_id }}" 
                        name="liquidcultuurID" id="liquidcultuurID">
                        
            <button type="submit">Submit</button>
        </form>
    </div>
{% endblock %}