{% extends 'base.html' %}

{% block head %}
    <title>Liquid Culture</title>
{% endblock %}

{% block body %}
    <div class="container">
        <h1>Details of the Liquid Culture</h1>
        <p>Soort: {{ liquid_culture.soort }}</p>
        <p>Datum: {{ liquid_culture.innoculatiedatum }}</p>
        <p>Kenmerk: {{ liquid_culture.kenmerk }}</p>
        <p>Liquid Cultuur ID: {{ liquid_culture.liquidcultuurID }}</p>

        <a href="{{ url_for('add_grain_spawn', liquid_culture_id=liquid_culture.liquidcultuurID) }}">
            <button type="button">New Grain Spawn</button>
        </a>
    </div>
{% endblock %}